<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZoomOutHotKeys</key>
	<dict>
		<key>Pages</key>
		<dict>
			<key>key_code</key>
			<integer>43</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Numbers</key>
		<dict>
			<key>key_code</key>
			<integer>43</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>43</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>27</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>ZoomInHotKeys</key>
	<dict>
		<key>Pages</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Numbers</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>24</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>ZoomActualSizeHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>29</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>RotateCCWHotKeys</key>
	<dict>
		<key>Acrobat Reader</key>
		<dict>
			<key>key_code</key>
			<integer>27</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Preview</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>Photos</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>RotateCWHotKeys</key>
	<dict>
		<key>Acrobat Reader</key>
		<dict>
			<key>key_code</key>
			<integer>24</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Preview</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>Photos</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>EnterFullScreenHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>Flip Player</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>OpenOffice</key>
		<dict>
			<key>key_code</key>
			<integer>38</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<integer>1310720</integer>
		</dict>
	</dict>
	<key>PlayerFullScreenHotKeys</key>
    	<dict>
    		<key>VLC</key>
            <dict>
         		<key>key_code</key>
           		<integer>3</integer>
           		<key>modifier_flags</key>
        		<real>1048576</real>
            </dict>
            <key>Flip Player</key>
            <dict>
              	<key>key_code</key>
                <integer>3</integer>
                <key>modifier_flags</key>
                <real>1048576</real>
           </dict>
           	<key>Safari</key>
            		<dict>
            			<key>key_code</key>
            			<integer>3</integer>
            			<key>modifier_flags</key>
            			<integer>0</integer>
            		</dict>
            		<key>Opera</key>
            		<dict>
            			<key>key_code</key>
            			<integer>3</integer>
            			<key>modifier_flags</key>
            			<real>0</real>
            		</dict>
            		<key>Google Chrome</key>
            		<dict>
            			<key>key_code</key>
            			<integer>3</integer>
            			<key>modifier_flags</key>
            			<real>0</real>
            		</dict>
            <key>Default Application</key>
            <dict>
            	<key>key_code</key>
            	<integer>3</integer>
            	<key>modifier_flags</key>
            	<integer>1310720</integer>
            </dict>
    	</dict>
	<key>PlayerPlayHotKeys</key>
	<dict>
	    <key>Safari</key>
                    		<dict>
                    			<key>key_code</key>
                    			<integer>40</integer>
                    			<key>modifier_flags</key>
                    			<integer>0</integer>
                    		</dict>
                    		<key>Opera</key>
                    		<dict>
                    			<key>key_code</key>
                    			<integer>40</integer>
                    			<key>modifier_flags</key>
                    			<real>0</real>
                    		</dict>
                    		<key>Google Chrome</key>
                    		<dict>
                    			<key>key_code</key>
                    			<integer>40</integer>
                    			<key>modifier_flags</key>
                    			<real>0</real>
                    		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>49</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>PlayerStopHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerNextHotKeys</key>
	<dict>
	    <key>Safari</key>
                        		<dict>
                        			<key>key_code</key>
                        			<integer>45</integer>
                        			<key>modifier_flags</key>
                        			<integer>131072</integer>
                        		</dict>
                        		<key>Opera</key>
                        		<dict>
                        			<key>key_code</key>
                        			<integer>45</integer>
                        			<key>modifier_flags</key>
                        			<real>131072</real>
                        		</dict>
                        		<key>Google Chrome</key>
                        		<dict>
                        			<key>key_code</key>
                        			<integer>45</integer>
                        			<key>modifier_flags</key>
                        			<real>131072</real>
                        		</dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerPreviousHotKeys</key>
	<dict>
	 <key>Safari</key>
                            		<dict>
                            			<key>key_code</key>
                            			<integer>35</integer>
                            			<key>modifier_flags</key>
                            			<integer>131072</integer>
                            		</dict>
                            		<key>Opera</key>
                            		<dict>
                            			<key>key_code</key>
                            			<integer>35</integer>
                            			<key>modifier_flags</key>
                            			<real>131072</real>
                            		</dict>
                            		<key>Google Chrome</key>
                            		<dict>
                            			<key>key_code</key>
                            			<integer>35</integer>
                            			<key>modifier_flags</key>
                            			<real>131072</real>
                            		</dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerStepForwardHotKeys</key>
	<dict>
	<key>Safari</key>
                                		<dict>
                                			<key>key_code</key>
                                			<integer>37</integer>
                                			<key>modifier_flags</key>
                                			<integer>0</integer>
                                		</dict>
                                		<key>Opera</key>
                                		<dict>
                                			<key>key_code</key>
                                			<integer>37</integer>
                                			<key>modifier_flags</key>
                                			<real>0</real>
                                		</dict>
                                		<key>Google Chrome</key>
                                		<dict>
                                			<key>key_code</key>
                                			<integer>37</integer>
                                			<key>modifier_flags</key>
                                			<real>0</real>
                                		</dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>PlayerStepBackwardHotKeys</key>
	<dict>
	<key>Safari</key>
                                    		<dict>
                                    			<key>key_code</key>
                                    			<integer>38</integer>
                                    			<key>modifier_flags</key>
                                    			<integer>0</integer>
                                    		</dict>
                                    		<key>Opera</key>
                                    		<dict>
                                    			<key>key_code</key>
                                    			<integer>38</integer>
                                    			<key>modifier_flags</key>
                                    			<real>0</real>
                                    		</dict>
                                    		<key>Google Chrome</key>
                                    		<dict>
                                    			<key>key_code</key>
                                    			<integer>38</integer>
                                    			<key>modifier_flags</key>
                                    			<real>0</real>
                                    		</dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>PlayerLoopHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerVolumeUpHotKeys</key>
	<dict>
	<key>Safari</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>126</integer>
                                        			<key>modifier_flags</key>
                                        			<integer>0</integer>
                                        		</dict>
                                        		<key>Opera</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>126</integer>
                                        			<key>modifier_flags</key>
                                        			<real>0</real>
                                        		</dict>
                                        		<key>Google Chrome</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>126</integer>
                                        			<key>modifier_flags</key>
                                        			<real>0</real>
                                        		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>126</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerVolumeDownHotKeys</key>
	<dict>
	<key>Safari</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>125</integer>
                                        			<key>modifier_flags</key>
                                        			<integer>0</integer>
                                        		</dict>
                                        		<key>Opera</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>125</integer>
                                        			<key>modifier_flags</key>
                                        			<real>0</real>
                                        		</dict>
                                        		<key>Google Chrome</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>125</integer>
                                        			<key>modifier_flags</key>
                                        			<real>0</real>
                                        		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>125</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerMuteHotKeys</key>
	<dict>
	<key>Safari</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>46</integer>
                                        			<key>modifier_flags</key>
                                        			<integer>0</integer>
                                        		</dict>
                                        		<key>Opera</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>46</integer>
                                        			<key>modifier_flags</key>
                                        			<real>0</real>
                                        		</dict>
                                        		<key>Google Chrome</key>
                                        		<dict>
                                        			<key>key_code</key>
                                        			<integer>46</integer>
                                        			<key>modifier_flags</key>
                                        			<real>0</real>
                                        		</dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>125</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>PlayerShuffleHotKeys</key>
	<dict>
        <key>VLC</key>
        <dict>
             <key>key_code</key>
             <integer>6</integer>
             <key>modifier_flags</key>
             <integer>1048576</integer>
        </dict>
	</dict>
	<key>PlayerSubtitlesHotKeys</key>
	<dict>
	    <key>Safari</key>
	    <dict>
            <key>key_code</key>
            <integer>8</integer>
            <key>modifier_flags</key>
            <integer>0</integer>
        </dict>
        <key>Opera</key>
        <dict>
             <key>key_code</key>
             <integer>8</integer>
             <key>modifier_flags</key>
             <integer>0</integer>
        </dict>
	    <key>Google Chrome</key>
	    <dict>
            <key>key_code</key>
            <integer>8</integer>
            <key>modifier_flags</key>
            <integer>0</integer>
        </dict>
        <key>VLC</key>
        <dict>
             <key>key_code</key>
             <integer>1</integer>
             <key>modifier_flags</key>
             <integer>0</integer>
        </dict>
	</dict>
	<key>BrowserNewTabHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>17</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>BrowserNextTabHotKeys</key>
	<dict>
		<key>Safari</key>
		<dict>
			<key>key_code</key>
			<integer>48</integer>
			<key>modifier_flags</key>
			<integer>262144</integer>
		</dict>
		<key>Opera</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<real>1572864</real>
		</dict>
		<key>Google Chrome</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<real>1572864</real>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>48</integer>
			<key>modifier_flags</key>
			<integer>262144</integer>
		</dict>
	</dict>
	<key>BrowserPreviousTabHotKeys</key>
	<dict>
		<key>Safari</key>
		<dict>
			<key>key_code</key>
			<integer>48</integer>
			<key>modifier_flags</key>
			<integer>393216</integer>
		</dict>
		<key>Opera</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>Google Chrome</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<real>1572864</real>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>48</integer>
			<key>modifier_flags</key>
			<integer>393216</integer>
		</dict>
	</dict>
	<key>BrowserAddBookmarkHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>2</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserNewPrivateWindowHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>45</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
	</dict>
	<key>BrowserReopenClosedTabHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>17</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
	</dict>
	<key>BrowserOpenFileHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>31</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserOpenLocationHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserCloseTabHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>13</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserCloseWindowHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>13</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
	</dict>
	<key>BrowserEmojiHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>49</integer>
			<key>modifier_flags</key>
			<integer>1310720</integer>
		</dict>
	</dict>
	<key>BrowserReloadPageHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserShowDownloadsHotKeys</key>
	<dict>
		<key>Google Chrome</key>
		<dict>
			<key>key_code</key>
			<integer>38</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Safari</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>Opera</key>
		<dict>
			<key>key_code</key>
			<integer>38</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserShowHistoryHotKeys</key>
	<dict>
		<key>Opera</key>
		<dict>
			<key>key_code</key>
			<integer>4</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>16</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>BrowserShowSidebarHotKeys</key>
	<dict>
		<key>Opera</key>
		<dict>
			<key>key_code</key>
			<integer>1</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>Safari</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
	</dict>
	<key>BrowserShowPageSourceHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>32</integer>
			<key>modifier_flags</key>
			<real>1572864</real>
		</dict>
	</dict>
	<key>BrowserHomePageHotKeys</key>
	<dict>
		<key>Opera</key>
		<dict>
			<key>key_code</key>
			<integer>115</integer>
			<key>modifier_flags</key>
			<integer>524288</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>4</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
	</dict>
	<key>SlideShowStartHotKeys</key>
	<dict>
		<key>PowerPoint</key>
		<dict>
			<key>key_code</key>
			<integer>36</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>35</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>Finder</key>
		<dict>
			<key>key_code</key>
			<integer>49</integer>
			<key>modifier_flags</key>
			<integer>524288</integer>
		</dict>
		<key>Photos</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<integer>1310720</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>96</integer>
			<key>modifier_flags</key>
			<integer>8388608</integer>
		</dict>
	</dict>
	<key>SlideShowEndHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>53</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowNextHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowNextNoAnimationHotKeys</key>
	<dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>131072</integer>
		</dict>
		<key>OpenOffice</key>
		<dict>
			<key>key_code</key>
			<integer>121</integer>
			<key>modifier_flags</key>
			<integer>524288</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowPreviousHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowPreviousNoAnimationHotKeys</key>
	<dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>131072</integer>
		</dict>
		<key>OpenOffice</key>
		<dict>
			<key>key_code</key>
			<integer>116</integer>
			<key>modifier_flags</key>
			<integer>524288</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowBlankSlideBlackHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>11</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowBlankSlideWhiteHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>13</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowPauseHotKeys</key>
	<dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
		<key>Finder</key>
		<dict>
			<key>key_code</key>
			<integer>49</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowFirstSlideHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>115</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowLastSlideHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>119</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowHideCursorHotKeys</key>
	<dict>
		<key>PowerPoint</key>
		<dict>
			<key>key_code</key>
			<integer>4</integer>
			<key>modifier_flags</key>
			<integer>262144</integer>
		</dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>8</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowSlideNumberHotKeys</key>
	<dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>1</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowGoToNextHiddenSlideHotKeys</key>
	<dict>
		<key>PowerPoint</key>
		<dict>
			<key>key_code</key>
			<integer>4</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SlideShowPenPointerHotKeys</key>
	<dict>
		<key>PowerPoint</key>
		<dict>
			<key>key_code</key>
			<integer>35</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>SlideShowArrowPointerHotKeys</key>
	<dict>
		<key>PowerPoint</key>
		<dict>
			<key>key_code</key>
			<integer>0</integer>
			<key>modifier_flags</key>
			<integer>1048576</integer>
		</dict>
	</dict>
</dict>
</plist>
