<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZoomOutHotKeys</key>
	<dict>
		<key>Pages</key>
		<dict>
			<key>key_code</key>
			<integer>43</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Numbers</key>
		<dict>
			<key>key_code</key>
			<integer>43</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>43</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>27</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>ZoomInHotKeys</key>
	<dict>
		<key>Pages</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Numbers</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Keynote</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>24</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>ZoomActualSizeHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>29</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>RotateCCWHotKeys</key>
	<dict>
		<key>Acrobat Reader</key>
		<dict>
			<key>key_code</key>
			<integer>27</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Preview</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>Photos</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>RotateCWHotKeys</key>
	<dict>
		<key>Acrobat Reader</key>
		<dict>
			<key>key_code</key>
			<integer>24</integer>
			<key>modifier_flags</key>
			<integer>1179648</integer>
		</dict>
		<key>Preview</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>Photos</key>
		<dict>
			<key>key_code</key>
			<integer>15</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>EnterFullScreenHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>Flip Player</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>OpenOffice</key>
		<dict>
			<key>key_code</key>
			<integer>38</integer>
			<key>modifier_flags</key>
			<real>1179648</real>
		</dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>3</integer>
			<key>modifier_flags</key>
			<integer>1310720</integer>
		</dict>
	</dict>
	<key>PlayerPlayHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>49</integer>
			<key>modifier_flags</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>PlayerStopHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>47</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerNextHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerPreviousHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerStepForwardHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>124</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>PlayerStepBackwardHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>key_code</key>
			<integer>123</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>PlayerLoopHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>37</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerVolumeUpHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>126</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerVolumeDownHotKeys</key>
	<dict>
		<key>Default Application</key>
		<dict>
			<key>key_code</key>
			<integer>125</integer>
			<key>modifier_flags</key>
			<real>1048576</real>
		</dict>
	</dict>
	<key>PlayerMuteHotKeys</key>
	<dict>
		<key>VLC</key>
		<dict>
			<key>key_code</key>
			<integer>125</integer>
			<key>modifier_flags</key>
			<integer>1572864</integer>
		</dict>
	</dict>
</dict>
</plist>
