<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CutHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>7</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>CopyHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>8</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>PasteHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>9</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>UndoHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>6</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>RedoHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>6</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>SelectAllHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>0</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>FindHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>3</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>FindNextHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>5</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>FindPreviousHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>5</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>HideFrontWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>4</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>HideOtherWindowsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>4</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>MinimizeFrontWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>46</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>OpenNewHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>45</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>OpenItemHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>29</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>PrintHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>35</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>SaveHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>1</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>CloseFrontWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>13</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>CloseAllWindowsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>13</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>QuitTheAppHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>12</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ForceQuitHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>53</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>ForceQuitFrontAppHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>53</integer>
		<key>modifier_flags</key>
		<integer>1703936</integer>
		<key>hold_time_in_s</key>
		<integer>3</integer>
	</dict>
	<key>SpotlightHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>49</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>FinderSpotlightHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>49</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>QuickLookHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>49</integer>
		<key>modifier_flags</key>
		<integer>0</integer>
	</dict>
	<key>SwitchAppsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>48</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>SwitchAppWindowsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>50</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>ScreenshotHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>20</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>AppPreferencesHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>43</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>LogOutHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>12</integer>
		<key>modifier_flags</key>
		<real>1703936</real>
	</dict>
	<key>BoldTextHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>11</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ItalicizeTextHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>34</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>UnderlineTextHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>32</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>FontsWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>17</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>WordDefinitionHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>2</integer>
		<key>modifier_flags</key>
		<integer>1310720</integer>
	</dict>
	<key>SpellingWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>41</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>DeletePreviousWordHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>51</integer>
		<key>modifier_flags</key>
		<real>524288</real>
	</dict>
	<key>ForwardDeleteHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>2</integer>
		<key>modifier_flags</key>
		<integer>262144</integer>
	</dict>
	<key>PageUpHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>126</integer>
		<key>modifier_flags</key>
		<integer>8388608</integer>
	</dict>
	<key>PageDownHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>125</integer>
		<key>modifier_flags</key>
		<integer>8388608</integer>
	</dict>
	<key>DocumentHomeHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>123</integer>
		<key>modifier_flags</key>
		<integer>8388608</integer>
	</dict>
	<key>DocumentEndHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>124</integer>
		<key>modifier_flags</key>
		<integer>8388608</integer>
	</dict>
	<key>MoveToDocumentBeginHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>126</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>MoveToDocumentEndHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>125</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>MoveToLineBeginHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>123</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>MoveToLineEndHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>124</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>MoveToWordBeginHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>123</integer>
		<key>modifier_flags</key>
		<integer>524288</integer>
	</dict>
	<key>MoveToWordEndHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>124</integer>
		<key>modifier_flags</key>
		<integer>524288</integer>
	</dict>
	<key>ExpandSelectionUpHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>126</integer>
		<key>modifier_flags</key>
		<integer>131072</integer>
	</dict>
	<key>ExpandSelectionDownHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>125</integer>
		<key>modifier_flags</key>
		<integer>131072</integer>
	</dict>
	<key>ExpandSelectionLeftHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>123</integer>
		<key>modifier_flags</key>
		<integer>131072</integer>
	</dict>
	<key>ExpandSelectionRightHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>124</integer>
		<key>modifier_flags</key>
		<integer>131072</integer>
	</dict>
	<key>LeftAlignHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>33</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>RightAlignHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>30</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>CenterAlignHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>42</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>SearchFieldHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>3</integer>
		<key>modifier_flags</key>
		<real>1572864</real>
	</dict>
	<key>ShowToolbarHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>17</integer>
		<key>modifier_flags</key>
		<real>1572864</real>
	</dict>
	<key>ShowInspectorWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>22</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>IncreaseTextSizeHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>24</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>DecreaseTextSizeHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>27</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>DuplicateFileHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>2</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>EjectDiskHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>14</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>FinderSpotlightSearchHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>3</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>FileInfoHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>34</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>OpenComputerHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>8</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenDesktopHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>2</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenAllMyFilesHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>3</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenGoToHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>5</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenHomeHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>4</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpeniCloudHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>34</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenNetworkHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>40</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenDownloadsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>37</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>OpenDocumentsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>31</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>OpenLibraryHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>37</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>OpenAirDropHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>15</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>AddItemToDockHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>17</integer>
		<key>modifier_flags</key>
		<real>1441792</real>
	</dict>
	<key>OpenUtilitiesHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>32</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>ShowDockHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>2</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>AddItemToSidebarHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>17</integer>
		<key>modifier_flags</key>
		<integer>1310720</integer>
	</dict>
	<key>ShowPathBarHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>35</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>ShowSidebarHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>1</integer>
		<key>modifier_flags</key>
		<integer>1572864</integer>
	</dict>
	<key>ShowStatusBarHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>44</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ShowViewOptionsHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>38</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>OpenConnectToServerHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>40</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>MakeItemAliasHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>37</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>OpenNewWindowHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>45</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>CreateNewFolderHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>45</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>CreateNewSmartFolderHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>45</integer>
		<key>modifier_flags</key>
		<real>1572864</real>
	</dict>
	<key>ShowFileForAliasHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>15</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ShowTabBarHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>17</integer>
		<key>modifier_flags</key>
		<integer>1179648</integer>
	</dict>
	<key>IconsViewHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>18</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ListViewHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>19</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ColumnsViewHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>20</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>CoverFlowViewHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>21</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>PreviousFolderHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>33</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>NextFolderHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>30</integer>
		<key>modifier_flags</key>
		<real>1048576</real>
	</dict>
	<key>UpFolderHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>126</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>DownFolderHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>125</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>ShowDesktopHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>103</integer>
		<key>modifier_flags</key>
		<integer>0</integer>
	</dict>
	<key>MoveToTrashHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>51</integer>
		<key>modifier_flags</key>
		<integer>1048576</integer>
	</dict>
	<key>EmptyTrashHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>51</integer>
		<key>modifier_flags</key>
		<real>1179648</real>
	</dict>
	<key>ForceEmptyTrashHotKeys</key>
	<dict>
		<key>key_code</key>
		<integer>51</integer>
		<key>modifier_flags</key>
		<real>1703936</real>
	</dict>
</dict>
</plist>
